<!DOCTYPE>
<html>  
<body>  
<table>  
<tr><th>First_Name</th><th>Last_Name</th><th>Marks</th></tr>  
<tr><td>Divya</td><td>Jaiswal</td><td>90</td></tr>  
<tr><td>Navya</td><td>William</td><td>80</td></tr>  
<tr><td>Srilatha</td><td>Sironi</td><td>82</td></tr>  
<tr><td>Anjali</td><td>Singh</td><td>72</td></tr>  
</table>  
</body>
</html>
